h1 {
    color: Azure;
  }
  
  body {
    font-family: Georgia;
    background-image: URL(https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png)
  }
  
  .about-me {
    font-size: 20px;
    opacity: 0.5;
  }
  
  .header {
    background-color: CornflowerBlue;
    text-align: center;
  }
  
  .title {
    font-weight: bold;
  }
  